<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <title>発注</title>
</head>
<body>
<h1></h1>
<table class="table">
  <thead>
  <tr>
    <th id="id">ID</th>
    <th id="product">製品</th>
    <th id="quantity">数量</th>
  </tr>
  </thead>
  <tbody>
  <div th:object="${product}">

    <th th:text="*{id}"></th>

    <th th:text="*{pNumber}"></th>

    <th th:text="*{product}"></th>

    <th th:text="*{price}"></th>

    <td><a class="btn btn-outline-primary btn-sm" th:href="@{/product/update/{id}(id=${id})}">更新</a></td>

  </div>

  </tbody>
</table>

<form th:action="@{/product/orderEdit}" method="post" th:object="${newOrder}">
  <div th:object="${product}">
  <div class="row">
    <div class="form-group col-3 m-2">

      <label class="form-label">製品番号</label>
      <input class="form-control" type="text" name="stocksId">
      <label class="control-label">数量</label>
      <input class="form-control" type="text" name="ordersNumber" th:value="1" max="10">
      <input class="form-control" type="date" name="deliveryDate">
      <label class="control-label">引き渡し予定日</label>
    </div>
    </div>
  </div>

<div class="text-center">
  <input type="submit" value="注文" class="btn btn-primary" href="/product/orderEdit" />
</div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>