<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.domain.Products">
        <id column="productId" property="product_id"/>
        <result column="pNumber" property="p_number"/>
        <result column="product" property="product"/>
        <result column="category" property="category"/>
        <result column="price" property="price"/>
        <result column="registrationDate" property="registration_date"/>
        <result column="deletedDate" property="deleted_date"/>
    </resultMap>
    <resultMap id="stocks" type="com.example.domain.Stocks">
        <id column="stock_id" property="stockId"/>
        <result column="product_id" property="productId"/>
        <result column="inventory" property="inventory"/>
        <result column="update_date" property="updateDate"/>
        <collection property="productsList" resultMap="userMap"></collection>
    </resultMap>

    <select id="selectAll" resultMap="userMap">
        SELECT
            products.product_id,
            products.p_number,
            products.product,
            products.category,
            products.price,
            products.registration_date,
            products.deleted_date,
            stocks.stock_id,
            stocks.product_id,
            stocks.inventory,
            stocks.update_date
        FROM
            products
        INNER JOIN stocks
        ON
            products.product_id = stocks.product_id
    </select>
    <select id="selectOne" resultType="com.example.domain.Products">
        SELECT id, p_number, product, category, price, registration_date, deleted_date FROM products WHERE id = #{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT into products (p_number, product, category, price) values (#{p_number},#{product},#{category},#{price})
    </insert>
    <update id="update">
        UPDATE products set
        p_number = #{p_number}, product = #{product}, category = #{category}, price = #{price} where id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM products WHERE id = #{id}
    </delete>
</mapper>
