<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <select id="stockAll" resultType="com.example.domain.Stocks">
        SELECT * FROM stocks
    </select>

<!--    <select id="selectAll" resultMap="stockMap">-->
    <select id="selectAll" resultMap="stockMap">
<!--        SELECT * FROM products INNER JOIN stocks ON products.id = stocks.product_id-->
        SELECT id, products.p_number, products.product, products.price, stocks.product_id FROM products  INNER JOIN stocks ON products.id = stocks.product_id
    </select>

    <resultMap type="com.example.domain.Products" id="stockMap">
        <id property="id" column="id" />
        <result property="pNumber" column="p_number" />
        <result property="product" column="product" />
        <result property="category" column="category" />
        <result property="price" column="price" />
        <association property="stockList" resultMap="stock" />
<!--        <association property="orderList" resultMap="order" />-->
<!--        <collection property="stockList" resultMap="stock" foreignColumn="product_id" />-->
    </resultMap>
    <resultMap type="com.example.domain.Stocks" id="stock" >
                <id property="id" column="id" />
                <result property="product_id" column="product_id" />
                <result property="inventory" column="inventory" />
                <result property="update_date" column="update_date" />
                <association property="orderList" resultMap="order" />
    </resultMap>
    <resultMap id="com.example.domain.Orders" type="order">
        <id property="id" column="id" />
        <result property="stocks_id" column="stocks_id" />
        <result property="orders_number" column="orders_number" />
        <result property="order_date" column="order_date" />
        <result property="receipt_date" column="receipt_date" />
    </resultMap>
<!--    <resultMap id="order" type="com.example.domain.Orders">-->
<!--        <id property="id" column="id" />-->
<!--        <result property=""-->
<!--    </resultMap>-->
<!--    <select id="stockSelect" resultMap="stock">-->
<!--        SELECT id, product_id, inventory, update_date FROM stocks WHERE id = #{id}-->
<!--    </select>-->

    <select id="selectOne" resultMap="stockMap">
        SELECT id, p_number, product, category, price, registration_date, deleted_date FROM products WHERE id = #{id}
    </select>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT into orders (id, stocks_id, orders_number, order_date, receipt_date) values (#{id}, #{stocksId}, #{ordersNumber}, #{orderDate}, #{receiptDate})
    </insert>
    <update id="update">
        UPDATE products set p_number = #{p_number}, product = #{product}, category = #{category}, price = #{price} where id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM products WHERE id = #{id}
    </delete>
</mapper>

