<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>user home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>UserHome</h1>
    <div th:object="${product}">
        <div class="form-row">
            <label class="control-label">ID</label>
            <p class="form-control" th:text="*{id}"></p>
        </div>
        <div class="form-row">
            <label class="control-label">品番</label>
            <p class="form-control" th:text="*{p_number}"></p>
        </div>
        <div class="form-row">
            <label class="control-label">製品名</label>
            <p class="form-control" th:text="*{product}"></p>
        </div>
        <div class="form-row">
            <label class="control-label">カテゴリ</label>
            <p class="form-control" th:text="*{category}"></p>
        </div>
        <div class="form-row">
            <label class="control-label">価格</label>
            <p class="form-control" th:text="*{price}"></p>
        </div>
        <a class="btn btn-outline-success btn-sm" th:href="@{/user/update/{id}(id=*{id})}">編集</a>
        <a class="btn btn-outline-success btn-sm" th:href="@{/user/deletePause/{id}(id=*{id})}">削除</a>
    </div>
</div>
<div id="righttext">
    <a class="btn btn-link" id ="linktext" href="/user/list">一覧画面</a>
</div>
</body>
</html>